[submodule "oneapi-tbb"]
	path = oneapi-tbb
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "oneapi-dnn"]
	path = oneapi-dnn
	url = https://github.com/oneapi-src/oneDNN.git
[submodule "openvino"]
	path = openvino
	url = https://github.com/openvinotoolkit/openvino.git
